body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #c7b198;
}

nav {
    display: flex;
    justify-content: space-between;
	background-color: #596e79;
    padding: 15px 15px;
    overflow: hidden;
    align-items: center;
    
}

nav img {
    align-items: right;
}

nav a {
    color: #e2dedb;
    text-decoration: none;
    padding: 14px 40px;
}

nav a:hover {
    background-color: #dfd3c3;
    color: black;
}

.search-container {
    margin-right: 15px;
}

.search-container form {
    display: flex;
}

.search-container input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.search-container button {
    padding: 8px 12px;
	border: none;
    cursor: pointer;
    background-color: #008000;
    color: white;
	border-radius: 5px;
}

.container {
    padding: 40px;
}

.container h1,
.container h2 {
    color: #fff;
    text-align: center;
}

.container p {
    width: 600px;
    padding: 25px;
	text-align: center;
    background-color: #596e79;
    margin: 0 auto;
    color: #f0ece2;
}

.container p1 {
    width: 600px;
    padding: 1px;
	text-align: center;
    background-color: #596e79;
    margin: 0 auto;
    color: #f0ece2;
}

.bottom-nav {
    background-color: #596e79;
    padding: 1px 12px;
    text-align: center;
	bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
    position: fixed;
}

.bottom-nav a {
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    color: #fff;
}

.bottom-nav a:hover {
    background-color: #dfd3c3;
    color: black;
}

.bottom-nav img {
    vertical-align: middle;
    margin-right: 12px;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: stretch;
    }

    nav a {
        padding: 10px;
    }

    .search-container {
        margin-right: 0;
    }

    .search-container form {
        flex-direction: column;
    }

    .search-container input[type="text"],
    .search-container button {
        margin: 5px 0;
    }

    .container p {
        width: auto;
        padding: 14px;
    }
}

.help-box {
    background-color: #596e79;
    padding: 8px;
    text-align: center;
    margin-top: 20px;
    width: 160px;
	display: inline-block;
	margin-right: 10px;
}

.help-box-container {
    display: flex;
}

.help-box:hover {
    background-color: #dfd3c3;
}

.help-box a {
    text-decoration: none;
    color: #fff;
}

.help-box:hover a {
    color: black;
}

.help-box1 {
    background-color: #596e79;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
	margin-bottom: 20px;
    width: 180px;
    margin: 10px auto;
}

.help-box1-container {
    display: flex;
}

.help-box1:hover {
    background-color: #dfd3c3;
}

.help-box1 a {
    text-decoration: none;
    color: #fff;
}

.help-box1:hover a {
    color: black;
}

.help-box2 {
    background-color: #596e79;
    padding: 8px;
    text-align: center;
    margin-top: 20px;
    width: 160px;
	display: inline-block;
    margin: 10px 5px;
}

.help-box2-container {
    display: flex;
}

.help-box2:hover {
    background-color: #dfd3c3;
}

.help-box2 a {
    text-decoration: none;
    color: #fff;
}

.help-box2:hover a {
    color: black;
}

.container2 {
    padding: 40px;
}

.container2 h1,
.container2 h2 {
    color: #fff;
    text-align: center;
}

.container2 p {
    width: 600px;
    padding: 25px;
    margin: 0 auto;
    color: #f0ece2;
    text-align: center;
    background-color: #596e79;
}

.send{
    height:40px;
    width:95px;
}
